* {
    margin:0;
    padding:0;
}

#titulo {
    font-family: Bradley Hand, cursive;
    color: #35355C;
    margin-left: 1%; 
}

#subtitulo {
    font-family: Bradley Hand, cursive;
    color: #35355C;
    margin-left: 1%; 
}

body{
    background-color: #C1C1DB;
    font-family: Bradley Hand, cursive;
    color: #6C6370;
    margin-left: 2%;
    margin-top: 3%;
    justify-content: center;
}

input, select, button{
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0,2em;
    color: #51515C;
    display: block;
}

fieldset.campo .grupo{
    float:  left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}

.campo select option {
    padding-right: 1em;
}

.botao {
    font-size: 1.2em;
    background-color: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #61567D;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.botao:hover {
    background: #61567D;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}
